<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
        integrity="sha512-t38vG/f94E72wz6pCsuuhcOPJlHKwPy+PY+n1+tJFzdte3hsIgYE7iEpgg/StngunGszVMrRfvwZinrza0vMTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Fascinate&display=swap"
        rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Lingua</title>
</head>

<body>

    <header>
        <div class="navbar-fixed">

            <nav>
                <div class="nav-wrapper blue darken-4">
                    <a href="/" class="brand-logo left">Lingua</a>
                    <ul id="nav-mobile" class="right">
                        {{#if loggedIn}}

                        <li>
                            <a href="/account" class="nav-link">Account</a>
                        </li>

                        <li>
                            <a href="/dashboard" class="nav-link">Dashboard</a>
                        </li>

                        <li>
                            <a href="/chat" class="nav-link">Chat</a>
                        </li>

                        <li>
                            <a href="/find-friends" class="nav-link">Find Friends</a>
                        </li>

                        <li>
                            <a href="/" class="nav-link" id="logout">Logout</a>
                        </li>

                        {{else}}

                        <li>
                            <a href="/signup" class="nav-link">Sign Up</a>

                        </li>

                        <li>
                            <a href="/login" class="nav-link">Login</a>
                        </li>

                        {{/if}}

                    </ul>
                </div>
            </nav>

        </div>
    </header>

    <main class="container">

        {{{body}}}

    </main>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"
        integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>