<h2>Find a pen friend within our dear users</h2>
{{#each users}}
<div class="col s8 ">
  <div id="comment-text" class="card-panel teal">
    <p>
      Hi my username is {{username}} and my email is <a href="mailto:{{email}}">{{email}}</a>.
      <br /> I'm fluent in
      <h5>{{native_language}}</h5>
    </p>
  </div>

</div>
{{/each}}