{{!-- login form --}}
<h3 class="center-align">Login</h3>
<form class="col s12 " id="login-form">
    <div class="row">

        <div class="input-field col m12 s12">
            <label for="email-login">Email</label>
            <input id="email-login" type="email" class="validate">
        </div>
    </div>

    <div class="row">
        <div class="input-field col m12 s12">
            <label for="password-login">Password</label>
            <input id="password-login" type="password" class="validate">
        </div>
    </div>

    <div class="row">
        <button class="btn waves-effect waves-light blue darken-1 col s12" type="submit" name="action">Login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>