<section class="">
  <h4 class="center-align">Add New Post</h4>

  <form id="new-post-form" class="new-post-form col s12">

 <div class="input-field col m12 s12">
      <label for="post-title" class="form-label">Title</label>
      <input type="text" id="post-title" name="post-title" class="validate" />
    </div>

 <div class="input-field col m12 s12">
      <label for="post-content" class="form-label">Content</label>
      <input type="text" id="post-content" name="post-content" class="validate" />
    </div>

 <div class="row">
      <button type="submit" class="btn waves-effect waves-light blue darken-1 col s12" name="action">Add Post</button>
    </div>

  </form>
</section>

<script src="/javascript/new-post.js"></script>