{{!-- sing up form --}}
<form id="signup-form" class="col s12 ">

      <div class="row">
        <div class="input-field col m12 s12">
            <label for="username-signup">Username</label>
            <input id="username-signup" type="text" class="validate">
        </div>
    </div>

    <div class="row">
        <div class="input-field col m12 s12">
            <label for="email-signup">Email</label>
            <input id="email-signup" type="email" class="validate">
        </div>
    </div>

 <div class="row">
        <div class="input-field col m12 s12">
            <label for="password-signup">Password</label>
            <input id="password-signup" type="password" class="validate">
        </div>
    </div>

    <div class="row">
        <div class="input-field col m12 s12">
            <label for="native-language-signup">What is your native language?</label>
            <input id="native-language-signup" type="text" class="validate">
        </div>
    
    </div>


    <div class="row">
        <div class="input-field col m12 s12">
            <label for="target-language-signup">What is your target language?</label>
            <input id="target-language-signup" type="text" class="validate">
        </div>
    
    </div>

  <div class="row">
    <button class="btn waves-effect waves-light deep-purple darken-1
 col s12" type="submit" name="action">Sign Up</button>
  </div>

</form>



{{!-- Remember to give the absolute path, not the relative file path. --}}
<script src="/javascript/signup.js"></script>